*.jl.*.cov
*.jl.cov
*.jl.mem
*.rej
.DS_Store
.benchmarkci
Manifest.toml
benchmark/*.json
coverage
docs/build/
env
node_modules
scripts/data/*
**/examples/*.md
!*/examples/index.md
docs/src/96-changelog.md
